body {
    background-color:darkcyan;
}

#header, #form, #ans {
    text-align: center;
}

#header, #form {
    color: white;
}

#ans {
    color: violet;
    font-size: 40px;
}

#form {
    margin-top: 80px;
}

.resul {
    padding-top: 20px;
}